#reservas {
    background: var(--bg-color);
    position: relative;

    overflow: hidden;
}

#reservas .content {
    position: relative;
    overflow: hidden;
    border-radius: 3rem;
    padding: 4rem;

    box-shadow:  20px 20px 60px #01010b,
    -20px -20px 60px #01010f;
}

#reservas .content::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  
    background: linear-gradient(45deg, #02021c, #02021a);
    opacity: .8;
  
  }

#reservas .content img.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

#reservas header {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#reservas h2 {
    font-size: 4rem;
    color: #fff;
    font-weight: 700;
    line-height: 1.1;

    margin-bottom: 2rem;
}

#reservas p {
    color: #ffffffc0;
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

#reservas a {
    text-decoration: none;
}

#reservas a button {
    background: linear-gradient(45deg, #FC426A, #FF5349);
    color: #fff;
    border: none;
    display: flex;
    gap: 1rem;
    align-items: center;

    padding: 1rem 3rem;
    font-size: 1.6rem;
    border-radius: .5rem;

    transition: all 300ms ease-in-out;
}

#reservas a button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

#reservas a button ion-icon {
    line-height: 0;
    font-size: 2rem;
}

@media (min-width: 1080px) {
    section#reservas .content {
        padding: 7rem;
    }

    section#reservas h2 {
        font-size: 6rem;
        margin-bottom: 1rem;
    }

    section#reservas p {
        font-size: 2rem;
        margin-bottom: 4rem;
    }

    section#reservas a button {
        font-size: 2rem;
    }
}